<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Code Ninja</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
  <header>
    <p class="logo">Code Ninja</p>
    <nav class="menu">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>

  <div *ngIf="!loginStatus; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <app-login-component> </app-login-component>
  </ng-template>
  <ng-template #elseBlock>
    <app-dashboard-component></app-dashboard-component>
  </ng-template>

  <hr>
  <app-categories-component></app-categories-component>
</body>

</html>
