.myChallengeList {
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
}

.scroll-viewport {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.challengeListItems {
  margin: 1%;
  padding: 3%;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.challengeListItems:hover {
  background-color: rgb(158, 230, 136);
}

.challengeListItems:nth-child(odd) {
  background-color: #c6cab9;
}

.more {
  width: 100%;
  height: 40px;
}
