.dashboardProfileContainer {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.profilePicture {
  flex: 1;
  text-align: center;
}

.profileStats {
  flex: 1;
  text-align: end;
  margin: 2%;
}

.pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

@media screen and (max-width: 960px) {
  .dashboardProfileContainer {
    flex-direction: column;
    margin: 5%;
  }
}

@media screen and (max-width: 900px) {
  .dashboardProfileContainer {
    flex-direction: row;
  }
}

@media screen and (max-width: 700px) {
  .dashboardProfileContainer {
    flex-direction: column;
  }
}
