
header {
    background-color: aqua;
    height: 10%;
    min-width: 120px;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 5%;
    flex: 2;
    font-size: 200%;
}

.menu{
    margin-right: 5%; 
    flex: 3;
}

.menu ul {
    list-style-type: none;
    float: right; 
}

.menu ul li {
    display: inline;
    margin-left: 50px; 
}


a{
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .logo {
      font-size: 100%;
      text-align: center;
    }
  }