<div class="dashboardProfileContainer">

  <div class="profilePicture">
    <img class="pic"
      src="https://cbsnews1.cbsistatic.com/hub/i/2017/06/29/fe40ccf2-90d6-4b24-92bf-b8795d04c2c2/gettyimages-803015182.jpg"
      alt="image">
    <h5 style="text-align: center;margin-top: 5%;">John Doe</h5>
  </div>

  <div class="profileStats">
    <div class="dropdown">
      <button class="btn btn-primary btn-xs dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Categories
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div *ngFor="let category of categories" (click)="log(category)" class="dropdown-item">{{ category }}</div>
      </div>
    </div>

    <canvas id="myChart"></canvas>

  </div>
</div>
